#siteHeader {
    display: flex;
    background-color: red;
    padding: 0px;
    justify-content: space-between;
   
   
    .siteHeaderMenu {
        display: flex;
        background-color: black;
       

        .siteHeaderLogo{
            background-color: aqua;
            text-align: center;
        }

        .organizationDropdown{
           display: flex;
           flex-direction: column;
           background-color: rgb(22, 226, 32);
          
        }

        .farmDropdown{
            background-color: rgb(139, 139, 52);
          
        }

        .seasonDropdown{
            background-color: rgb(199, 199, 33);
          
        }
    }
}