#siteHeader {
  display: flex;
  background-color: white;
  padding: 0px 10px;

  .main-col-1 {
    min-width: 50%;
  }

  .row-1 {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
  }

  .col-2{
    min-width: 10%;
  }
}
